<%= form_for(@proyecto) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente, :class => "form-control tamano" ,:readonly => true %>
  </div>
    <div class="field">
    <%= f.label 'Nombre del Proyecto' %><br>
    <%= f.text_field :nombreProyecto,:class => "form-control tamano" %>
   
  </div>
  <div class="field">
    <%= f.label 'Nombre del Lider Responsable del Proyecto' %><br>
    <%= f.text_field :lider,:class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label 'Nombre del Gerente Resposable del Proyecto' %><br>
    <%= f.text_field :gerente,:class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_consultora.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>