<%= render 'pagina/style' %>
<%= render 'pagina/menuE_left' %>
<%= render 'pagina/content_head' %>
<h1>Editing proyecto</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', @proyecto %> |
<%= link_to 'Back', proyectos_path %>
<%= render 'pagina/content_footer' %>
