<%= render 'pagina/style' %>
<%= render 'pagina/menuE_left' %>
<%= render 'pagina/content_head' %>
<h1>New proyecto</h1>

<%= render 'form' %>

<%= link_to 'Back', proyectos_path %>
<%= render 'pagina/content_footer' %>
