<%= form_for(@fecha) do |f| %>
  <% if @fecha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fecha.errors.count, "error") %> prohibited this fecha from being saved:</h2>

      <ul>
      <% @fecha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :fecha %>
  </div>
  <div class="field">
    <%= f.label :mes %><br>
    <%= f.text_field :mes %>
  </div>
  <div class="field">
    <%= f.label :dia %><br>
    <%= f.text_field :dia %>
  </div>
  <div class="field">
    <%= f.label :diaL %><br>
    <%= f.text_field :diaL %>
  </div>
  <div class="field">
    <%= f.label :mesl %><br>
    <%= f.text_field :mesl %>
  </div>
  <div class="field">
    <%= f.label :año %><br>
    <%= f.text_field :año %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
