<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1> Mi Perfil</h1>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , :class => "form-control tamano"%>
  </div>
  <div class="field">
    <%= f.label 'Razon Social' %><br>
    <%= f.text_field :razonSocial , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label :contacto %><br>
    <%= f.text_field :contacto , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label 'Telefono Oficina' %><br>
    <%= f.text_field :telOficina , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label 'Telefono Movil'%><br>
    <%= f.text_field :telMovil, :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo , :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type, :value => 1 %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => current_consultora.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
