<h1>Listado de Asignaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Proyecto</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaciones.each do |asignacione| %>
      <tr>
        <td><%= asignacione.cliente %></td>
        <td><%= asignacione.proyecto %></td>
        <td><%= asignacione.horaInicio %></td>
        <td><%= asignacione.horaFin %></td>
       
        <td><%= link_to 'Eliminar', asignacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacione', new_asignacione_path %>