<h1>Listing asignaciones</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Cliente</th>
      <th>Proyecto</th>
      <th>Horainicio</th>
      <th>Horafin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaciones.each do |asignacione| %>
      <tr>
        <td><%= asignacione.email %></td>
        <td><%= asignacione.cliente %></td>
        <td><%= asignacione.proyecto %></td>
        <td><%= asignacione.horaInicio %></td>
        <td><%= asignacione.horaFin %></td>
        <td><%= link_to 'Show', asignacione %></td>
        <td><%= link_to 'Edit', edit_asignacione_path(asignacione) %></td>
        <td><%= link_to 'Destroy', asignacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacione', new_asignacione_path %>
