<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.label 'Razon Social' %><br>
    <%= f.text_field :razonSocial, :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id,:value => current_consultora.id %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-success btn-cons" %>
    <%= link_to 'Regresar', cliente_path,  :class => "btn btn-info btn-cons color" %>
  </div>
<% end %>
