<p id="notice"><%= notice %></p>

<p>
  <strong>Diaactual:</strong>
  <%= @actividade.diaActual %>
</p>

<p>
  <strong>Horaentrada:</strong>
  <%= @actividade.horaEntrada %>
</p>

<p>
  <strong>Horasalida:</strong>
  <%= @actividade.horaSalida %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @actividade.actividad %>
</p>

<p>
  <strong>Dialetra:</strong>
  <%= @actividade.diaLetra %>
</p>

<p>
  <strong>Horastrabajadas:</strong>
  <%= @actividade.horasTrabajadas %>
</p>

<p>
  <strong>Dias:</strong>
  <%= @actividade.dias %>
</p>

<p>
  <strong>Mediodia:</strong>
  <%= @actividade.medioDia %>
</p>

<p>
  <strong>Horasextra:</strong>
  <%= @actividade.HorasExtra %>
</p>

<p>
  <strong>Horaremoto:</strong>
  <%= @actividade.horaRemoto %>
</p>

<%= link_to 'Edit', edit_actividade_path(@actividade) %> |
<%= link_to 'Back', actividades_path %>
